.Addproduct{
    background-color:yellow;
    width: 30em;
    height:35em;
    position: relative;
    border-radius: 1em;
     /* box-shadow: 0 0.188em 1.550em red;  */
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: auto;
    margin-top:100px;
}
 
.btn1{
background-color:red;
width: 280px;
height: 50px;
border-radius: 10px;
margin-left: 100px;
}
.Addproductbox{
    float: right;
    padding-right: 50px;
    margin-bottom: 10px;
}
label{
    padding-right: 40px;
}
option{
   
}